<template>
  <section
    class="slide-section-main appointment-type-inner"
    :style="{ display: 'block' }"
  >
    <header class="sticky-header">
      <div class="calc-continer">
        <div class="float-right header-icon-contain col-12-custom">
          <div class="col-4-custom">
            <a href="#" @click.prevent.stop="myReturn" class="color-red appoitment-type-section">
              <object
                class="svg-back-arrow"
                :data="backSvg"
                type="image/svg+xml"
              ></object>
              New Event</a
            >
          </div>
          <div class="col-4-custom text-center">
            <a href="#">Appoitment Type</a>
          </div>
          <div class="col-4-custom text-right">
            <a href="#" class="color-red"></a>
          </div>
        </div>
      </div>
    </header>
    <div class="slide-section-area-wrapper">
      <div class="seprator top"></div>
      <div class="slide-section-inner-wrapper">
        <ul class="check-list">
          <li
            @click="optionSelected('client');"
            :class="{ active: value === 'client' }"
          >
            <span
              ><object
                class="svg-back-arrow"
                :data="checkSvg"
                type="image/svg+xml"
              ></object></span
            ><span>Client</span>
          </li>
          <li
            @click="optionSelected('others');"
            :class="{ active: value === 'others' }"
          >
            <span
              ><object
                class="svg-back-arrow"
                :data="checkSvg"
                type="image/svg+xml"
              ></object></span
            ><span>Other</span>
          </li>
        </ul>
      </div>
      <div class="seprator top b-top"></div>
      <div class="slider-custom-section custom-appoitment-type-inner">
        <span></span
        ><span
          >Custom
          <object
            class="right-icon float-right"
            :data="rightArrow"
            type="image/svg+xml"
          ></object
        ></span>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  computed: {
    backSvg() {
      return require("../../assets/svg/back.svg");
    },
    rightArrow() {
      return require("../../assets/svg/right-arrow.svg");
    },
    checkSvg() {
      return require("../../assets/svg/check-mark.svg");
    }
  },
  props: {
    value: String,
    done: Function
  },
  methods: {
    optionSelected(value) {
      this.$emit("input", value);
      this.done("appointmentType");
    },
    myReturn(event) {
      this.done("appointmentType");
    }
  }
};
</script>

<style scoped>
li {
  cursor: pointer;
}
</style>

