<template>
  <section class="slide-section-main end-repeat-inner" style="display: block;">
    <header class="sticky-header">
      <div class="calc-continer">
        <div class="float-right header-icon-contain col-12-custom">
          <div class="col-4-custom">
            <a @click.prevent.stop="myReturn" href="#" class="color-red end-repeat-hide-section">
              <object
                class="svg-back-arrow"
                :data="backSvg"
                type="image/svg+xml"
              ></object>
              New Event</a
            >
          </div>
          <div class="col-4-custom text-center"><a href="#">End Repeat</a></div>
          <div class="col-4-custom text-right">
            <a href="#" class="color-red"></a>
          </div>
        </div>
      </div>
    </header>
    <div class="slide-section-area-wrapper">
      <div class="seprator top"></div>
      <div class="slide-section-inner-wrapper">
        <ul class="check-list calendar-inner-pages">
          <li @click="optionSelected('Never');"
              :class="{ active: value === 'Never' }">
            <span
              >Never
              <object
                class="svg-back-arrow float-right"
                :data="checkSvg"
                type="image/svg+xml"
                v-if="value === 'Never'"
              ></object
            ></span>
          </li>
          <li class="show-awsome-select-2 main-color active" 
              @click="optionSelectedOnly(endTime);"
              :class="{ active: value !== 'Never' }">
            <span class="position-relative"
              >On Date
              <object
                class="svg-back-arrow float-right"
                :data="checkSvg"
                type="image/svg+xml"
                v-if="value !== 'Never'"
              ></object>
              <input
                type="date"
                class="text-only-input calendar-width ml-10  ends-time-toggle show"
                :style={opacity:dateOp}
                v-model="endTime"
              />
            </span>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      endTime: "2020-05-05",
      dateOp: 0
    };
  },
  props: {
    value: String,
    done: Function
  },
  computed: {
    backSvg() {
      return require("../../assets/svg/back.svg");
    },
    rightArrow() {
      return require("../../assets/svg/right-arrow.svg");
    },
    checkSvg() {
      return require("../../assets/svg/check-mark.svg");
    }
  },
  watch: {
    endTime: function(value) {
      this.$emit("input", value);
    }
  },
  methods: {
    optionSelected(value) {
      this.$emit("input", value);
      this.done("endRepeat");
    },
    optionSelectedOnly(value) {
      this.dateOp = 1;
      this.$emit("input", value);
    },
    myReturn(event) {
      this.done("endRepeat");
    }
  }
};
</script>

<style scoped>
li {
  cursor: pointer;
}
</style>

