<template>
  <header class="sticky-header">
    <div class="calc-continer">
      <div class="float-right header-icon-contain col-12-custom">
        <div class="col-4-custom">
          <router-link to="/" class="color-red">Cancel</router-link>
        </div>
        <div class="col-4-custom text-center"><a href="#">New Event</a></div>
        <div class="col-4-custom text-right">
          <a @click.prevent.stop="submitForm" href="#" class="add-btn mr-85"
            >Add</a
          >
        </div>
      </div>

      <router-link to="/"
        ><img class="logo-icon" :src="logo" alt="logo"
      /></router-link>
    </div>
  </header>
</template>

<script>
import { eventBus } from "../../eventBus/eventBus";

export default {
  computed: {
    logo() {
      return require("../../assets/img/logoRightNew.png");
    }
  },
  methods: {
    submitForm() {
      eventBus.$emit("formSubmitted", true);
    }
  }
};
</script>
