<template>
  <transition name="fade" appear>
    <div class="add-appointment">
        <my-header />
        <main-form />
    </div>
  </transition>
</template>

<script>
import HeaderVue from "./Header.vue";
import MainFormVue from "./MainForm.vue";
import { eventBus } from "../../eventBus/eventBus";

export default {
  components: {
    myHeader: HeaderVue,
    mainForm: MainFormVue
  },
  created() {
    eventBus.$emit("fetchAllAppointments");
    eventBus.$on("reloadPage", () => {
      this.$router.push("/daily");
    });
  }
};
</script>
