<template>
    <div>
      <section class="mothly-view-calc monthly-split-view table-monthly-view">
        <div class="boxes-container">
          <div class="seprator top"></div>
          <div class="input-wrapper">
            <input
              type="text"
              class="title"
              placeholder="Title"
              v-model="title"
            />
          </div>
          <div class="seprator middle"></div>
          <div class="input-wrapper all-day-wrapper">
            <div class="title-wrapper position-relative">
              <span class="ver-center">All-Day</span>
            </div>
            <div class="content-wrapper position-relative checkbox-container">
              <label class="toggle float-right">
                <input type="checkbox" class="input-btn" v-model="allDay" />
                <div class="slide-toggle slide-toggle-appoitment"></div>
              </label>
            </div>
          </div>
          <div
            class="input-wrapper awsome-wrapper starts-appoitment all-day-wrapper timing-wrapper show-awsome-select main-color"
          >
            <div class="title-wrapper position-relative">
              <span class="ver-center">Starts</span>
            </div>
            <div class="content-wrapper position-relative">
              <div
                class="date-wrapper ver-center show-awsome-select calendar-wrapper text-right r-10 toggle-calendar full-width"
              >
                <input
                  type="date"
                  class="text-only-input calendar-width ml-10"
                  v-model="starts.date"
                />
                <input
                  type="time"
                  class="text-only-input ml-10"
                  v-model="starts.time"
                />
              </div>
            </div>
          </div>

          <div
            class="input-wrapper starts-appoitment all-day-wrapper timing-wrapper show-awsome-select-1 main-color"
          >
            <div class="title-wrapper position-relative">
              <span class="ver-center">Ends</span>
            </div>
            <div class="content-wrapper position-relative">
              <div
                class="date-wrapper ver-center r-10 calendar-wrapper full-width text-right"
              >
                <input
                  type="date"
                  class="text-only-input calendar-width ml-10  ends-time-toggle show"
                  v-model="ends.date"
                />
                <input
                  type="time"
                  class="text-only-input ml-10 ends-time-hiden"
                  v-model="ends.time"
                />
              </div>
            </div>
          </div>

          <div
            class="input-wrapper all-day-wrapper timing-wrapper appointment-type"
          >
            <div class="title-wrapper position-relative"  @click="appointmentType.display = true">
              <span class="ver-center">Appoitment type</span>
            </div>
            <div class="content-wrapper position-relative" @click="appointmentType.display = true">
              <span class="ver-center r-10 color-silver"
                >{{appointmentType.value.charAt(0).toUpperCase() + appointmentType.value.slice(1)}}
                <object
                  class="right-icon"
                  :data="rightArrow"
                  type="image/svg+xml"
                ></object
              ></span>
            </div>
          </div>
          <div class="input-wrapper all-day-wrapper timing-wrapper repeat" @click="repeat.display=true"> 
            <div class="title-wrapper position-relative">
              <span class="ver-center">Repeat</span>
            </div>
            <div class="content-wrapper position-relative" @click="repeat.display=true">
              <span class="ver-center r-10 color-silver"
                >{{repeat.value}}
                <object
                  class="right-icon"
                  :data="rightArrow"
                  type="image/svg+xml"
                ></object
              ></span>
            </div>
          </div>
          <div class="input-wrapper all-day-wrapper timing-wrapper end-repeat" @click="endRepeat.display=true">
            <div class="title-wrapper position-relative">
              <span class="ver-center">End Repeat</span>
            </div>
            <div class="content-wrapper position-relative">
              <span class="ver-center r-10 color-silver"
                >{{endRepeat.value}}
                <object
                  class="right-icon"
                  :data="rightArrow"
                  type="image/svg+xml"
                ></object
              ></span>
            </div>
          </div>

          <div class="seprator middle"></div>
          <div
            class="input-wrapper all-day-wrapper timing-wrapper office-loaction"
            @click="officeLocation.display=true"
          >
            <div class="title-wrapper position-relative">
              <span class="ver-center">Office Location</span>
            </div>
            <div class="content-wrapper position-relative">
              <span class="ver-center r-10 color-silver"
                >{{officeLocation.value}}
                <object
                  class="right-icon"
                  :data="rightArrow"
                  type="image/svg+xml"
                ></object
              ></span>
            </div>
          </div>
          <div class="input-wrapper all-day-wrapper">
            <div class="title-wrapper position-relative">
              <span class="ver-center">Is this a video session?</span>
            </div>
            <div class="content-wrapper position-relative checkbox-container">
              <label class="toggle float-right">
                <input type="checkbox" class="input-btn" v-model="videoSession" />
                <div class="slide-toggle"></div>
              </label>
            </div>
          </div>
          <div class="seprator middle"></div>

          <div
            class="input-wrapper notes-wrapper height-auto all-day-wrapper timing-wrapper"
          >
            <div class="title-wrapper height-auto position-relative">
              <textarea
                class="notes"
                name="notes"
                rows="10"
                placeholder="Notes"
                v-model="notes"
              ></textarea>
            </div>
          </div>
          <div class="seprator top padding-none"></div>
        </div>
      </section>

      <!-- Appointment type -->
      <transition name="slide-left">
        <appointment-type
          v-if="appointmentType.display"
          :done="done"
          v-model="appointmentType.value"
        />
      </transition>
      <!-- /Appointment type -->

      <!-- Repeat -->
      <transition name="slide-left">
        <repeat
          v-if="repeat.display"
          :done="done"
          v-model="repeat.value"
        />
      </transition>
      <!-- /Repeat -->

      <!-- End Repeat -->
      <transition name="slide-left">
        <end-repeat
          v-if="endRepeat.display"
          :done="done"
          v-model="endRepeat.value"
        />
      </transition>
      <!-- /End Repeat -->

      <!-- Office Location -->
      <transition name="slide-left">
        <office-location
          v-if="officeLocation.display"
          :done="done"
          v-model="officeLocation.value"
        />
      </transition>
      <!-- /Office Location -->

    </div> 
</template>

<script>
import AppointmentTypeVue from "./AppointmentType.vue";
import RepeatVue from "./Repeat.vue";
import EndRepeatVue from "./EndRepeat.vue";
import officeLocationVue from "./officeLocation.vue";
import { eventBus } from "../../eventBus/eventBus";

export default {
  data() {
    return {
      updated: true,
      loader: false,
      title: "",
      allDay: false,
      starts: {
        date: "2019-01-01",
        time: "12:00"
      },
      ends: {
        date: "2019-01-01",
        time: "12:00"
      },
      videoSession: false,
      appointmentType: {
        display: false,
        value: "client"
      },
      repeat: {
        display: false,
        value: "Never"
      },
      endRepeat: {
        display: false,
        value: "Never"
      },
      officeLocation: {
        display: false,
        value: "BBSR Mindfire"
      },
      notes: ""
    };
  },
  computed: {
    logo() {
      return require("../../assets/img/logoRightNew.png");
    },
    plusSvg() {
      return require("../../assets/svg/plus-icon.svg");
    },
    searchSvg() {
      return require("../../assets/svg/search-icon.svg");
    },
    menuSvg() {
      return require("../../assets/svg/menu-icon.svg");
    },
    backSvg() {
      return require("../../assets/svg/back.svg");
    },
    rightArrow() {
      return require("../../assets/svg/right-arrow.svg");
    }
  },
  components: {
    appointmentType: AppointmentTypeVue,
    repeat: RepeatVue,
    endRepeat: EndRepeatVue,
    officeLocation: officeLocationVue
  },
  methods: {
    done(value) {
      this[value].display = false;
    },
    formSubmitted(val, event) {
      if (this.title !== "") {
        this.loader = true;
        let data = {
          title: this.title,
          allDay: this.allDay,
          starts: {
            date: this.starts.date,
            time: this.starts.time
          },
          ends: {
            date: this.ends.date,
            time: this.ends.time
          },
          videoSession: this.videoSession,
          appointmentType: this.appointmentType.value,
          repeat: this.repeat.value,
          endRepeat: this.endRepeat.value,
          officeLocation: this.officeLocation.value,
          notes: this.notes
        };
        eventBus.$emit("addAppointment", data);
      } else {
        alert("Title cannot be empty");
        eventBus.$once("formSubmitted", this.formSubmitted);
      }
    }
  },
  created() {
    eventBus.$once("formSubmitted", this.formSubmitted);
  }
};
</script>

<style scoped>
/* stage 1. Before entering */
.fade-enter {
  opacity: 0;
}

/* stage 2. Entered */
.fade-enter-active {
  transition: opacity 1s ease;
}

/* stage 3. leave */
.fade-leave-active {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.slide-left-enter-active {
  animation: slide-in-left 0.2s ease-in-out forwards;
}

/* stage 3. leave */
.slide-left-leave-active {
  animation: slide-out-left 0.2s ease-in-out forwards;
  position: absolute;
}

.slide-left-move {
  transition: transform 0.2s ease-in-out;
}

@keyframes slide-in-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100%);
  }
}

.loader-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>

