<template>
  <section
    class="slide-section-main office-loaction-inner"
    style="display: block;"
  >
    <header class="sticky-header">
      <div class="calc-continer">
        <div class="float-right header-icon-contain col-12-custom">
          <div class="col-4-custom">
            <a @click.prevent.stop="myReturn" href="#" class="color-red office-location-hide-section">
              <object
                class="svg-back-arrow"
                :data="backSvg"
                type="image/svg+xml"
              ></object>
              New Event</a
            >
          </div>
          <div class="col-4-custom text-center">
            <a href="#">Office Location</a>
          </div>
          <div class="col-4-custom text-right">
            <a href="#" class="color-red"></a>
          </div>
        </div>
      </div>
    </header>
    <div class="slide-section-area-wrapper">
      <div class="seprator top"></div>
      <div class="slide-section-inner-wrapper">
        <ul class="check-list">
          <li v-for="location in locations" 
              :key="location"
              @click="optionSelected(location);"
              :class="{ active: value === location }">
            <span
              ><object
                class="svg-back-arrow"
                :data="checkSvg"
                type="image/svg+xml"
              ></object></span
            ><span>{{ location }}</span>
          </li>
        </ul>
      </div>
      <div class="seprator top b-top"></div>
      <div class="slider-custom-section custom-tab-inner">
        <span></span
        ><span
          >Custom
          <object
            class="right-icon float-right"
            :data="rightArrow"
            type="image/svg+xml"
          ></object
        ></span>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    value: String,
    done: Function
  },
  data() {
    return {
      locations: ["BBSR Mindfire", "Mumbai", "Delhi", "Kolkata", "Chennai"]
    };
  },
  computed: {
    backSvg() {
      return require("../../assets/svg/back.svg");
    },
    rightArrow() {
      return require("../../assets/svg/right-arrow.svg");
    },
    checkSvg() {
      return require("../../assets/svg/check-mark.svg");
    }
  },
  methods: {
    optionSelected(value) {
      this.$emit("input", value);
      this.done("officeLocation");
    },
    myReturn(event) {
      this.done("officeLocation");
    }
  }
};
</script>

<style scoped>
li {
  cursor: pointer;
}
</style>
