body {
  font-family: sans-serif;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 62px;
  min-height: 100vh;
  position: relative;
  display: flow-root;
  overflow-x: hidden;
}

#year-calendar p {
  font-size: 24pt;
  text-align: center;
  padding: 0;
  margin: 0;
}

#date-range {
  font-size: 12pt;
  text-align: center;
}

#year {
  font-size: 24pt;
  text-align: left;
  padding: 0;
  margin: 0;
  display: block;
}

#year ul {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #d0d0d0;
}

#year ul li {
  list-style-type: none;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  padding: 0px 7px;
  font-size: 18px;
  cursor: pointer;
}

#year ul li.selected-year {
  font-size: 28px;
  font-weight: bold;
}

#year-calendar table {
  font-weight: normal;
  font-size: 10pt;
  padding-left: 1em;
  padding-bottom: 1em;
  float: left;
  text-align: center;
  height: 15em;
  border-collapse: collapse;
  margin-top: 2em;
  table-layout: fixed;
  margin-right: 1.34%;
  width: 32%;
}

#year-calendar table:nth-of-type(3n + 3) {
  margin-right: 0px;
}

th,
td {
  padding: 1px;
  transition: all 0.3s ease;
}

thead {
  font-weight: bold;
  text-transform: capitalize;
}

th.month_name {
  text-align: left;
  font-size: 16px;
}

th.month_name.current {
  color: #d26d13;
  border-bottom: 2px #d26d13 solid;
  padding-bottom: 0px;
}

th.current,
.current-month {
  color: #d26d13;
}

td.current {
  background-color: #d26d13;
  color: white;
}

td.selected {
  background-color: #adcef3 !important;
  color: black !important;
}

#may thead .month_name,
#year .selected-year,
.color-red {
  color: #d26d13;
}

/* #may tbody tr:last-of-type td:nth-of-type(4) span {
    background-color: #d26d13;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    width: 25px;
    height: 25px;
    font-size: 11px;
    display: inline-block;
    line-height: 25px;
  } */

.sticky-header {
  position: fixed;
  height: 61px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #d0d0d0;
  top: 0px;
  width: 100%;
  z-index: 10;
}

.calc-continer {
  height: 100%;
  margin: 0px 20px;
  margin: 0 auto;
  width: 93%;
  position: relative;
}

.float-right {
  float: right;
}

#year-calendar {
  float: left;
  width: 100%;
  margin-bottom: 60px;
}

.header-icon-contain {
  padding: 15px 0px;
  position: absolute;
  right: 0;
  top: 0;
}

.header-icon-contain a {
  margin-right: 30px;
}

.sticky-footer {
  position: fixed;
  bottom: 0px;
  background: -webkit-linear-gradient(to right,
    #e0d8d8,
    #f8f8f8);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to right,
    #e0d8d8,
    #f8f8f8);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right,
    #e0d8d8,
    #f8f8f8);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #e0d8d8, #f8f8f8);
  /* Standard syntax */
  width: 100%;
  height: 50px;
  z-index: 10;
}

.col-4-custom {
  width: 33.33%;
  float: left;
}

.col-12-custom {
  width: 100%;
}

a {
  text-decoration: none;
}

th.month_name {
  padding-left: 6%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.sticky-header .header-icon-contain img {
  width: 20px;
}

.sticky-header .calc-continer .header-icon-contain a:last-of-type {
  color: #000;
}

.sticky-header .calc-continer .header-icon-contain a:first-of-type img {
  width: auto;
}

.header-icon-contain a {
  width: 25px;
  height: 23px;
  line-height: 28px;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
}

.mothly-view-calc {
  width: 100%;
  background-color: #fff;
  /* max-width: 700px; */
  margin: 0 auto;
  margin-top: 10px;
  display: flow-root;
}

body .hide {
  display: none !important;
}

.mothly-view-calc table {
  width: 100%;
}

.mothly-view-calc tbody tr td.muted a,
.split-view-month tr td.muted {
  display: none;
}

.mothly-view-calc tbody tr td:not(.muted),
.split-view-month tr td:not(.muted) {
  padding-top: 5px;
  height: 50px;
  vertical-align: top;
  border-top: 1px solid #ccc;
}

.mothly-view-calc tbody tr td.current-date a,
.split-view-month tr td.current-date a {
  background-color: #d26d13 !important;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 11px;
  width: 25px;
  height: 25px;
  display: inline-block;
  line-height: 25px;
  text-align: center;
}

.mothly-view-calc tbody tr td .have-appointment,
.split-view-month tr td .have-appointment {
  width: 6px;
  height: 6px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
}

.mothly-view-calc tbody tr td a {
  color: #444;
}

.have-appointment-wrapper {
  width: 100%;
  float: left;
}

.mothly-view-calc tbody tr:first-of-type td {
  border-top: 0px;
}

.day-view-table {
  width: 100%;
}

.day-view-table-wrapper,
.day-view-appointment {
  max-width: 700px;
  margin: 0 auto;
}

.day-view-table-wrapper .day-view-table tr th {
  text-align: center;
  height: 55px;
  vertical-align: bottom;
  font-size: 12px;
  font-weight: bold;
}

.day-view-table-wrapper .day-view-table tr th:first-of-type,
.day-view-table-wrapper .day-view-table tr th:last-of-type,
.mothly-view-calc tbody tr td:first-of-type a,
.mothly-view-calc tbody tr td:last-of-type a {
  color: #ccc;
}

.show {
  display: block !important;
}

.day-view-appointment {
  margin-top: 70px;
}

.day-view-appointment tr {
  border-bottom: 1px solid #fcfcfc;
}

.bg-none {
  background-color: transparent;
}

.table-monthly-view table {
  padding-top: 10px;
}

.full-width,
.appoitment-inner {
  width: 100%;
}

.float-left,
.appoitment-inner {
  float: left;
}

.appoitment-inner-left {
  width: 57px;
  float: left;
  padding: 10px;
  padding-left: 23px;
}

.appoitment-inner-right {
  width: calc(100% - 102px);
  border-left: 1.5px solid #1dadf6;
  float: left;
  padding: 10px;
  padding-right: 0;
  min-height: 32px;
  position: relative;
}

.contain-meeting-start-time {
  margin-bottom: 5px;
}

.appoitment-inner-left span {
  text-transform: uppercase;
  font-size: 12px;
  float: left;
  width: 100%;
  text-align: left;
  font-weight: bold;
}

.contain-meeting-end-time {
  color: #e1dede;
}

.spilt-screen-appoitment {
  margin: 0 auto;
}

.contain-appointment-monthly {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  min-height: 47px;
  padding: 1px 0px;
}

.appoitment-inner-right span,
.ver-center {
  position: absolute !important;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.monthly-split-view {
  margin-top: 0px;
}

.seprator {
  background-color: #f1f0f6;
}

.seprator.top {
  padding-top: 10px;
  border-bottom: 1px solid #d0d0d0;
}

.seprator.middle {
  padding-top: 25px;
  border-bottom: 1px solid #d0d0d0;
}

.input-wrapper {
  padding-left: 10px;
  width: calc(100% - 10px);
}

.input-wrapper input {
  border: 0px;
  border-bottom: 1px solid #f2f2f2;
  outline: none;
  padding: 10px;
  padding-left: 0;
  width: calc(100% - 10px);
  caret-color: #d26d13;
}

.input-wrapper input::-moz-placeholder {
  color: #d0cfd3;
}

.input-wrapper input::placeholder {
  color: #d0cfd3;
}

.input-wrapper input::-webkit-input-placeholder {
  color: #d0cfd3;
}

.input-wrapper .title-wrapper,
.input-wrapper .content-wrapper {
  width: 50%;
  font-size: 14px;
  float: left;
  min-height: 35px;
}

.content-wrapper {
  padding-right: 10px;
  width: calc(50% - 10px) !important;
}

/* checkbox container */

input.input-btn[type="checkbox"] {
  display: none;
}

.slide-toggle {
  display: inline-block;
  position: relative;
  flex: none;
  width: 50px;
  height: 30px;
  border-radius: 30px;
  background-color: #d7d2cb;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  z-index: 1;
  margin: 3px;
}

.slide-toggle::before,
.slide-toggle::after {
  content: " ";
  display: block;
  position: absolute;
  top: 1px;
  border-radius: 30px;
  height: 28px;
  background-color: #fff;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: 0.2s cubic-bezier(0, 1.1, 1, 1.1);
}

.slide-toggle::before {
  z-index: -1;
  width: 48px;
  right: 1px;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.slide-toggle::after {
  z-index: 1;
  width: 28px;
  left: 1px;
  box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}

input:checked+.slide-toggle {
  background-color: #4dde5e;
}

input:checked+.slide-toggle::before {
  -webkit-transform: scale(0);
  transform: scale(0);
}

input:checked+.slide-toggle::after {
  -webkit-transform: translate3d(20px, 0, 0);
  transform: translate3d(20px, 0, 0);
}

/* checkbox continer css ends here */
.all-day-wrapper {
  border-bottom: 1px solid #f2f2f2;
  min-height: 35px;
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.timing-wrapper {
  border-bottom-color: #ccc;
}

.content-wrapper .date-wrapper {
  right: 10px;
}

.r-10 {
  right: 10px;
}

.time-wrapper {
  margin-left: 10px;
}

.color-silver {
  color: #ccc;
}

.awsome-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.awsome-select {
  width: 100%;
  height: 265px;
  overflow: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  margin-right: -14px !important;
  overflow-x: hidden;
}

.awsome-select::-webkit-scrollbar {
  display: none;
  visibility: hidden;
  width: 0 !important;
}

.awsome-select .awsome-data {
  text-align: center;
  padding: 5px;
  color: #ccc;
}

.current-awsome-data {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #000 !important;
}

@media (max-width: 600px) {
  .calc-continer {
    width: 96%;
  }
}

@media (max-width: 540px) {
  #year-calendar table {
    margin-right: 2%;
    width: 48%;
  }

  #year-calendar table:nth-of-type(3n + 3) {
    margin-right: 2%;
  }

  #year-calendar table:nth-of-type(2n + 2) {
    margin-right: 0%;
  }
}

@media (max-width: 350px) {
  #year-calendar table {
    margin-right: 0%;
    width: 100%;
  }

  #year-calendar table:nth-of-type(3n + 3) {
    margin-right: 0%;
  }
}

/*dropdown */
div.date_range_to {
  margin-left: 25px;
}

.date_range_from,
.date_range_to {
  width: 100%;
  float: left;
  text-align: center;
}

.date_range_header {
  height: 25px;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.date_range_header span.title {
  float: left;
  text-align: left;
}

.date_range_header span.selection {
  float: right;
  text-align: right;
  color: #d26d13;
}

div.date_range form {
  position: relative;
}

div.date_range div.date_range_container .lines {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  position: absolute;
  top: 58px;
  left: 0px;
  width: 100%;
  height: 24px;
}

div.date_range div.date_range_container .lines div {
  margin-left: 220px;
  line-height: 21px;
}

div.drum-wrapper {
  display: inline-block;
}

div.drum figure {
  text-align: right;
}

#drum_from_hours figure,
#drum_to_hours figure,
#drum_from_date figure,
#drum_to_date figure {
  text-align: right;
}

#drum_from_date,
#drum_to_date {
  margin-left: 10px;
  margin-right: 5px;
}

#drum_from_date,
#drum_to_date,
#drum_from_hours,
#drum_to_hours,
#drum_from_minutes,
#drum_to_minutes {
  width: 30px;
}

#drum_from_hours,
#drum_to_hours {
  margin-left: 10px;
}

#drum_from_minutes,
#drum_to_minutes {
  margin-left: 4px;
}

#drum_from_month,
#drum_to_month {
  width: 90px;
}

#drum_from_fullYear,
#drum_to_fullYear {
  width: 45px;
}

#drum_from_hours .dial div,
#drum_to_hours .dial div {
  margin: 0 7px;
}

#drum_from_minutes .dial div,
#drum_to_minutes .dial div {
  margin: 0 2px;
}

div.drum-wrapper .down svg,
div.drum-wrapper .up svg {
  display: none;
}

.awsome-wrapper,
.seprator,
.all-day-wrapper,
.input-wrapper {
  float: left;
  width: 100%;
  width: calc(100% - 10px);
}

.input-wrapper-edit .event-day {
  font-size: 14px;
}

.input-wrapper-edit p {
  margin: 0px;
  float: left;
  width: calc(100% - 10px);
  padding: 10px 0px;
}

.input-wrapper-edit .location-day {
  color: #ccc;
}

.event-subdetails-wrapper {
  font-size: 13px;
  color: #afacac;
}

.event-wrapper {
  padding-left: 10px;
}

.event-subdetails-wrapper p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.event-wrapper h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.event-timing-wrapper ul {
  padding-left: 0px;
  list-style: none;
}

.event-timing-wrapper ul li {
  min-height: 30px;
  position: relative;
}

.event-timing-wrapper {
  background-color: #f2f2f2;
  color: #afacac;
  border-radius: 5px;
  padding: 10px 0px 10px 15px;
  margin-top: 20px;
  box-shadow: 1px 1px 1px #fcfcfc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-right: 10px;
}

.event-subdetails-wrapper p:last-of-type {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.calc-circle {
  background-color: #1dadf6;
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
}

.edit-details-calc {
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

/* dropdown css */
.event-timing-wrapper div {
  display: inline-block;
}

.event-timing-wrapper div:last-of-type {
  width: calc(100% - 50px);
  height: 100%;
  position: absolute;
  right: 0;

  top: 7px;
}

.have-border {
  border-top: 1px solid #ccc;
}

.have-event {
  background-color: #1dadf6;
}

.sticky-footer .header-icon-contain {
  padding: 0px 0px;
}

.sticky-footer .header-icon-contain a {
  position: relative;
  top: 4px;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 99;
}

.popup::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  top: 0;
}

.popup .popup-contain {
  position: absolute;
  bottom: 0;
  z-index: 99;
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
}

.save-event-contain {
  width: 100%;
  float: left;
  background-color: #f9f9f9;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.save-event-contain p {
  margin: 0;
  font-size: 13px;
  color: #757575;
  padding: 20px 0px;
}

.save-event-contain div {
  padding: 22px 0px;
  color: #d26d13;
  font-size: 20px;
  border-top: 1px solid #ccc;
}

.cancel-contain {
  width: 100%;
  float: left;
  background-color: #f9f9f9;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #d26d13;
  padding: 15px 0px;
  cursor: pointer;
}

.popup {
  display: none;
}

.layout-fixed {
  table-layout: fixed;
  border-collapse: collapse;
}

.mothly-view-calc tbody tr td {
  text-align: center;
}

.seprator {
  width: 100%;
}

.svg-back-arrow {
  height: 23px;
  font-weight: bold;
  position: relative;
  top: 6px;
}

.search-icon {
  height: 20px;
}

.plus-icon {
  height: 20px;
}

.mntly-view-calc {
  width: max-content;
  height: 100%;

  position: absolute;
}

.monthly-split-view table {
  position: fixed;
  background-color: #fbfbfb;
  z-index: 9;
}

.space-top {
  margin-top: 279px;
}

.swiper-slide ul li {
  display: inline-block;
  list-style: none;
  width: 12.7%;
}

.swiper-slide ul li .day-num {
  font-size: 14px;
  width: 36px;
  height: 36px;
  margin-top: 10px;
  display: inline-block;
  line-height: 36px;
  border-radius: 50%;
  cursor: -webkit-grab;
  cursor: -webkit-grabbing;
}

.swiper-slide ul li .day-num.active {
  background-color: #d26d13;
  color: #fff;
}

.swiper-slide ul {
  float: left;
  width: 100%;
  padding-left: 0px;
  margin: 0px 0px;
}

.day-view-header {
  height: 174px;
}

.day-view-header .day-view-table-wrapper {
  max-width: 98%;
  position: relative;
  top: 79px;
}

.swiper-slide ul li span {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
}

.swiper-slide ul li:first-of-type,
.swiper-slide ul li:last-of-type {
  color: #ccc;
}

.selected-date-container {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 7px;
}

.have-event {
  color: #fff;
  font-size: 12px;
}

.have-event span {
  padding-left: 7px;
  padding-top: 2px;
  float: left;
}

th.month_name {
  text-transform: uppercase;
  color: #d26d13;
}

.all-day-wrapper:hover {
  background-color: #eeeded;
}

.date_range_from-1,
.date_range_from-2,
.date_range_from-3 {
  height: 0px;
  opacity: 0;
}

.display-select {
  height: auto;
  opacity: 1;
}

.show {
  display: block;
}

.main-color .content-wrapper .date-wrapper,
.main-color span {
  color: #d26d13;
}

.right-icon {
  width: 14px;
  position: relative;
  top: 3px;
}

.notes {
  background-color: transparent;
  width: 99%;
  border: 0px;
  border-color: transparent;
  caret-color: #d26d13;
  padding-top: 10px;
  overflow: hidden;
  resize: none;
}

input {
  caret-color: #d26d13;
}

.notes:focus {
  outline: none;
}

.notes:hover {
  background-color: transparent;
}

.height-auto {
  height: auto !important;
  min-height: auto;
}

.notes-wrapper:hover {
  background-color: transparent;
}

.notes-wrapper {
  border-bottom: 0px;
}

.notes-wrapper .title-wrapper {
  width: 100%;
}

.body-bg-dark {
  background-color: #f1f0f6;
}

.appointment-type-inner-page .header-icon-contain {
  padding: 8px 0px;
}

.slide-section-main {
  z-index: 99;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #f1f0f6;
  display: none;
}

.slide-section-area-wrapper {
  float: left;
  width: 100%;
  margin-top: 62px;
}

.slide-section-area-wrapper .seprator.top {
  min-height: 20px;
}

.slide-section-inner-wrapper {
  background-color: #fff;
  float: left;
  width: 100%;
}

.slide-section-inner-wrapper ul {
  padding-left: 0px;
  list-style: none;
  margin: 0px;
}

.slide-section-inner-wrapper ul li {
  float: left;
  width: 100%;
}

.slide-section-inner-wrapper ul li span:first-of-type,
.slider-custom-section span:first-of-type {
  width: 50px;
  float: left;
  padding: 8px 0px;
}

.slide-section-inner-wrapper ul li span:last-of-type,
.slider-custom-section span:last-of-type {
  width: calc(100% - 50px);
  float: left;
  border-bottom: 1px solid #eeeded;
  padding: 8px 0px;
  font-size: 13px;
}

.slide-section-inner-wrapper ul li:last-of-type span:last-of-type {
  border-bottom: 0px;
}

.slide-section-inner-wrapper ul li span .svg-back-arrow {
  height: 13px;
  top: 0px;
  margin-left: 12px;
  display: none;
}

.b-top {
  border-top: 1px solid #ccc;
}

.slider-custom-section {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  float: left;
  width: 100%;
}

.slider-custom-section span:last-of-type {
  border-bottom: 0px;
}

.slider-custom-section span:last-of-type .right-icon {
  top: 0px;
  right: 10px;
}

.slide-section-inner-wrapper .check-list li.active span .svg-back-arrow {
  display: block;
}

.slide-section-inner-wrapper ul li:hover {
  background-color: #eeeded;
}

.end-repeat-inner .slide-section-inner-wrapper {
  border-bottom: 1px solid #ccc;
}

.end-repeat-inner .slide-section-inner-wrapper .check-list li span {
  width: calc(100% - 20px);
  float: right;
}

.end-repeat-inner .slide-section-inner-wrapper .check-list li span .svg-back-arrow {
  margin-left: 0px;
  margin-right: 10px;
}

.show-awsome-select-2.active span {
  border-bottom: 1px solid #eeeded !important;
}

.swiper-slide.swiper-slide-active {
  cursor: -webkit-grab;
  cursor: -webkit-grabbing;
}

.notes-container {
  width: calc(100% - 10px) !important;
  color: #ccc;
  min-height: auto !important;
}

.timing-wrapper:hover {
  background-color: transparent;
}

.notes-container p {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
}

.sticky-header .header-icon-contain .col-4-custom:nth-of-type(2) a {
  color: #000;
}

.padding-none {
  padding: 0px !important;
}

.sticky-footer .header-icon-contain a {
  line-height: 41px;
}

.add-btn.active-add {
  color: #d26d13 !important;
}

.logo-icon {
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 999;
}

.mr-45 {
  margin-right: 45px !important;
}

.mr-85 {
  margin-right: 85px !important;
}

.search-close-icon {
  background-color: #000;
  height: 15px;
  width: 15px;
  display: inline-block;
  text-align: center;
  line-height: 11.5px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search-close-icon object {
  width: 7px;
}

.show-search {
  position: fixed;
  background-color: #fff;
  height: 61px;
  padding: 0px 15px;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.search-box-container {
  width: calc(100% - 200px);
  height: 40px;
  background-color: #dad6d7;
  position: relative;
  border-radius: 10px;
  padding: 0px 10px;
  top: 10px;
}

.search-box-container input {
  width: calc(100% - 70px);
  background-color: transparent;
  outline: none;
  border: 0px;
  position: absolute;
  height: 100%;
  padding-left: 30px;
}

.search-box-container .search-icon {
  height: 16px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}

.search-cancel {
  position: absolute;
  right: -65px;
  color: #d26d13;
  font-size: 17px;
  top: 50%;
  transform: translateY(-50%);
}

.show-search,
.search-close-icon {
  display: none;
}

object {
  pointer-events: none;
}

.tabs {
  list-style: none;
  display: inline-block;
  padding-left: 0px;
  border: 1px solid #d26d13;
  border-radius: 4px;
  margin: 0px;
  margin-top: 10px;
}

.tabs li {
  list-style: none;
  display: inherit;
  float: left;
}

.tabs li a {
  display: inline-block;
  padding: 10px;
  min-width: 49px;
  color: #d26d13;
}

.tabs li.active a {
  background-color: #d26d13;
  color: #fff;
}

.tabs li:fist-of-type a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.tabs li:last-of-type a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.inbox-body {
  background-color: #f0eff5;
  float: left;
  width: 100%;
  min-height: 100vh;
}

.inbox-body h2 {
  color: #ccc;
  margin-top: 10%;
  text-align: center;
}

.pb-0 {
  padding-bottom: 0px;
}

.done-inbox {
  color: #d26d13;
  font-size: 19px;
  vertical-align: top;
  display: inline-block;
  margin-top: 20px;
  position: relative;
  left: 20px;
}

.slide-section-main .header-icon-contain a {
  margin-right: 0px;
}

.slide-section-main .header-icon-contain {
  padding: 15px 0px;
}

.slide-section-main .header-icon-contain .col-4-custom {
  width: 41%;
}

.slide-section-main .sticky-header .header-icon-contain .col-4-custom:nth-of-type(2) a,
.edit-details-head .header-icon-contain .col-4-custom:nth-of-type(2) a,
.edit-details-head .header-icon-contain .col-4-custom:nth-of-type(3) a {
  position: relative;
  top: 3px;
}

.monthly-view-contain.header-icon-contain {
  padding: 6px 0px;
}

.edit-details-head .header-icon-contain a {
  margin-right: 0px;
}

.ml-10 {
  margin-left: 10px;
}

.calendar-wrapper .text-only-input {
  width: auto;
  padding: 0px;
  border-bottom: 0px;
}

input {
  font-family: sans-serif;
}

.main-color input {
  color: #d26d13;
}

.calendar-width {
  width: 100px !important;
  display: inline-block !important;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
  -moz-appearance: none;
}

.calendar-inner-pages .ends-time-toggle {
  position: absolute;
  left: 0;
  margin-left: 0;
  opacity: 0;
  z-index: 1;
  top: 5px;
  width: 94% !important;
}

.input-wrapper input {
  background-color: transparent;
}

.day-view-header .header-icon-contain {
  top: 19px;
}

.day-view-header .mntly-view-calc {
  top: 17px;
  height: auto;
}

.starts-appoitment .title-wrapper {
  width: 50px;
}

.starts-appoitment .content-wrapper {
  width: calc(100% - 60px) !important;
}

.Weekly-custom-span {
  font-style: normal;
  float: right;
  margin-right: 10px;
  color: #767676;
}

.day-view-top-m {
  margin-top: 114px;
}

/* Custom animation styles */

/* stage 1. Before entering */
.fade-enter {
  opacity: 0;
}

/* stage 2. Entered */
.fade-enter-active {
  transition: opacity 0.3s ease-in-out;
}

/* stage 3. leave */
.fade-leave-active {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
