<template>
  <td class="day" :data-yc-value="date">
    <span :class="{'current-day':currentDay}" @click="goToDaily">{{ dayOfMonth }}</span>
  </td>
</template>

<script>
import { eventBus } from "../../eventBus/eventBus";
export default {
  props: {
    date: String
  },
  computed: {
    dayOfMonth() {
      return this.date.split("-")[2];
    },
    month() {
      return this.date.split("-")[1];
    },
    year() {
      return this.date.split("-")[0];
    },
    currentDay() {
      let today = new Date();
      return (
        today.getDate() === parseInt(this.dayOfMonth) &&
        today.getMonth() + 1 === parseInt(this.month) &&
        today.getFullYear() === parseInt(this.year)
      );
    }
  },
  methods: {
    goToDaily() {
      eventBus.$emit("changeCurrentDateDaily", {
        date: parseInt(this.dayOfMonth),
        month: parseInt(this.month),
        year: parseInt(this.year)
      });
      this.$router.push("/daily");
    }
  }
};
</script>

<style>
span {
  cursor: pointer;
}
span.current-day {
  background-color: #d26d13;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  font-size: 11px;
  display: inline-block;
  line-height: 25px;
}
</style>

