<template>
   <header class="sticky-header">
    <div class="calc-continer">
      <div class="float-right header-icon-contain mr-45">
        <a href="#" class="search-box-open">
          <object
            class="search-icon"
            :data="searchSvg"
            type="image/svg+xml"
          ></object
        ></a>
        <router-link to="/add-an-appointment">
            <object class="plus-icon" :data="plusSvg" type="image/svg+xml"></object>
        </router-link>
        
      </div>
      <router-link to="/"><img class="logo-icon" :src="logo" alt="logo"/></router-link>
    </div>
  </header>
</template>

<script>
export default {
  computed: {
    logo() {
      return require("../../assets/img/logoRightNew.png");
    },
    plusSvg() {
      return require("../../assets/svg/plus-icon.svg");
    },
    searchSvg() {
      return require("../../assets/svg/search-icon.svg");
    }
  }
};
</script>
