<template>
  <transition name="fade" appear mode="out-in">
    <div class="home">
      <my-header />

      <div class="calc-continer">
       <div id='year-calendar'>
         <year-navigator :current-year="currentYear" :increase-year="increaseYear" :decrease-year="decreaseYear"/>
          <transition :name="currentSlide">
            <div class = "months-wrapper" v-show="showMonths">
              <month v-for="n in 12" :key="n" :current-month="n" :current-year="currentYear" />
            </div>
          </transition>
        </div>
      </div>

      <my-footer />
    </div>
  </transition>
  
</template>

<script>
import YearNavigatorVue from "./YearNavigator.vue";
import MonthVue from "./Month.vue";
import HeaderVue from "./Header.vue";
import FooterVue from "../common/Footer.vue";
import { eventBus } from "../../eventBus/eventBus";

export default {
  data() {
    return {
      currentYear: new Date().getFullYear(),
      showMonths: true,
      currentSlide: "slide-right"
    };
  },
  methods: {
    decreaseYear() {
      this.currentSlide = "slide-right";
      this.showMonths = false;
      this.currentYear--;
      setTimeout(() => {
        this.showMonths = true;
      }, 2);
    },
    increaseYear() {
      this.currentSlide = "slide-left";
      this.showMonths = false;
      this.currentYear++;
      setTimeout(() => {
        this.showMonths = true;
      }, 2);
    }
  },
  components: {
    yearNavigator: YearNavigatorVue,
    month: MonthVue,
    myHeader: HeaderVue,
    myFooter: FooterVue
  },
  created() {
    eventBus.$emit("fetchAllAppointments");
  }
};
</script>

<style scoped>
/* stage 2. Entered */
.slide-right-enter-active {
  animation: slide-in-right 0.2s ease-in-out forwards;
}

/* stage 3. leave */
.slide-right-leave-active {
  animation: slide-out-right 0.2s ease-in-out forwards;
  position: absolute;
}

.slide-right-move {
  transition: transform 1s ease-in-out;
}

.slide-left-enter-active {
  animation: slide-in-left 0.2s ease-in-out forwards;
}

/* stage 3. leave */
.slide-left-leave-active {
  animation: slide-out-left 0.2s ease-in-out forwards;
  position: absolute;
}

.slide-left-move {
  transition: transform 1s ease-in-out;
}

@keyframes slide-in-right {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(20%);
    opacity: 0;
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-left {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(-20%);
    opacity: 0;
  }
}
</style>
