<template>
  <table :id="currentMonthStr">
    <thead>
      <tr>
        <th class="month_name" colspan="7">{{ currentMonthStr }}</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <week
        :current-month="currentMonth"
        :current-year="currentYear"
        :start-date="1"
      />
      <week v-for="start in startDaysOfWeek" 
            :key="start" :current-month="currentMonth" 
            :current-year="currentYear" 
            :start-date="start" 
      />
    </tbody>
  </table>
</template>

<script>
import WeekVue from "./Week.vue";
export default {
  data() {
    return {
      months: [
        "jan",
        "feb",
        "mar",
        "apr",
        "may",
        "jun",
        "jul",
        "aug",
        "sep",
        "oct",
        "nov",
        "dec"
      ]
    };
  },
  computed: {
    currentMonthStr() {
      return this.months[this.currentMonth - 1];
    },
    startDayOfMonth() {
      return new Date(
        this.currentYear + "-" + this.currentMonth + "-1"
      ).getDay();
    },
    lastDayOfMonth() {
      return new Date(this.currentYear, this.currentMonth, 0).getDate();
    },
    startDaysOfWeek() {
      let currentDate = 1 + (7 - this.startDayOfMonth);
      let startOfWeekArray = [];
      for (let i = currentDate; i <= this.lastDayOfMonth; i += 7) {
        startOfWeekArray.push(i);
      }
      return startOfWeekArray;
    }
  },
  props: {
    currentYear: Number,
    currentMonth: Number
  },
  components: {
    Week: WeekVue
  }
};
</script>
