<template>
  <tr>
    <td v-for="n in startDayOfWeek + 1" :key="'empty-' + n"></td>
    <day
      v-for="day in weekDays"
      :key="day"
      :date="fullDate(currentYear, currentMonth, day)"
    />
  </tr>
</template>

<script>
import DayVue from "./Day.vue";
export default {
  props: {
    currentMonth: Number,
    currentYear: Number,
    startDate: Number
  },
  computed: {
    startDayOfWeek() {
      return new Date(
        this.currentYear + "-" + this.currentMonth + "-" + this.startDate
      ).getDay();
    },
    weekDays() {
      let weekArray = [];
      let date = this.startDate;
      let lastDate = new Date(this.currentYear, this.currentMonth, 0).getDate();
      for (let i = this.startDayOfWeek; i < 7; i++) {
        if (date <= lastDate) {
          weekArray.push(date++);
        } else {
          break;
        }
      }
      return weekArray;
    }
  },
  methods: {
    fullDate(year, month, date) {
      return year + "-" + month + "-" + date;
    }
  },
  components: {
    day: DayVue
  }
};
</script>
