<template>
  <div id="year">
    <ul>
      <li @click="decreaseYear">{{ currentYear - 1 }}</li>
      <li class="selected-year">{{ currentYear }}</li>
      <li @click="increaseYear">{{ currentYear + 1 }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    currentYear: Number,
    increaseYear: Function,
    decreaseYear: Function
  }
};
</script>
