<template>
  <section class="spilt-screen-appoitment">
    <div class="contain-appointment-monthly" v-for="appointment in appointments" :key="appointment.id">
      <div class="appoitment-inner">
        <div class="appoitment-inner-left">
          <span class="contain-meeting-start-time">{{ appointment.startTime }}</span>
          <span class="contain-meeting-end-time">{{ appointment.endTime }}</span>
        </div>
        <div class="appoitment-inner-right">
          <span class="appoitment-client-name">{{ appointment.title }}</span>
        </div>
      </div>
      <div class="appooitment-inner"></div>
      <div class="appooitment-inner"></div>
    </div>
  </section>
</template>

<script>
import { eventBus } from "../../eventBus/eventBus";
export default {
  computed: {
    appointments() {
      return eventBus.currentDateAppointments.sort((a, b) => {
        if (a.startDate < b.startDate) {
          return -1;
        } else {
          return 1;
        }
      });
    }
  }
};
</script>

<style scoped>
section {
  margin-top: 118px;
}
</style>

