<template>
  <header class="sticky-header day-view-header">
    <!--
      <div class="show-search">
        <div class="search-box-container">
           <object class="search-icon" data="svg/search-icon-input.svg" type="image/svg+xml"></object>
           <input type="text" id="search-fields" placeholder="Search">
           <a href="#" class="search-close-icon" onclick="document.getElementById('search-fields').value = ''"><object data="svg/cancel.svg" type="image/svg+xml"></object> </a>
           <a href="#" class="search-cancel">Cancel</a>
        </div>

      </div>
    -->
    <div class="calc-continer">
      <div class="mntly-view-calc">
        <router-link to="/monthly" class="color-red">
          <object
            class="svg-back-arrow"
            :data="backSvg"
            type="image/svg+xml"
          ></object>
          {{month}}
        </router-link>
      </div>
      <div class="day-view-table-wrapper">
        <!-- Swiper -->
        <swiper :current-date="date" :current-month="monthNumber" :current-year="year" />
        <!-- /Swiper -->
        <div class="selected-date-container">
          {{day}} {{month}} <span id="clicked-date">{{date}}</span>, {{year}}
        </div>
      </div>
      <div class="float-right header-icon-contain monthly-view-contain">
        <a href="month-split-view.html"
          ><object
            class="search-icon"
            :data="menuSvg"
            type="image/svg+xml"
          ></object>
        </a>
        <a href="#" class="search-box-open">
          <object
            class="search-icon"
            :data="searchSvg"
            type="image/svg+xml"
          ></object
        ></a>
        <router-link to="/add-an-appointment">
          <object
            class="plus-icon"
            :data="plusSvg"
            type="image/svg+xml"
          ></object>
        </router-link>
      </div>
      <router-link to="/"
        ><img class="logo-icon" :src="logo" alt="logo"
      /></router-link>
    </div>
  </header>
</template>

<script>
import SwiperVue from "./Swiper.vue";
import { eventBus } from "../../eventBus/eventBus";

export default {
  data() {
    return {
      days: [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ],
      months: [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec"
      ]
    };
  },
  computed: {
    logo() {
      return require("../../assets/img/logoRightNew.png");
    },
    plusSvg() {
      return require("../../assets/svg/plus-icon.svg");
    },
    searchSvg() {
      return require("../../assets/svg/search-icon.svg");
    },
    menuSvg() {
      return require("../../assets/svg/menu-icon.svg");
    },
    backSvg() {
      return require("../../assets/svg/back.svg");
    },
    day() {
      return this.days[
        new Date(
          eventBus.daily.currentYear,
          eventBus.daily.currentMonth - 1,
          eventBus.daily.currentDate
        ).getDay()
      ];
    },
    month() {
      return this.months[eventBus.daily.currentMonth - 1];
    },
    date() {
      return eventBus.daily.currentDate;
    },
    year() {
      return eventBus.daily.currentYear;
    },
    monthNumber() {
      return eventBus.daily.currentMonth;
    }
  },
  components: {
    swiper: SwiperVue
  },
  updated() {
    eventBus.$emit("fetchCurrentAppointments");
  }
};
</script>
