<template>
    <transition name="fade" appear mode="out-in">
        <div class="daily">
            <my-header />
            <appointments />
            <my-footer />
        </div>
    </transition>
</template>

<script>
import FooterVue from "../common/Footer.vue";
import HeaderVue from "./Header.vue";
import AppointmentsVue from "./Appointments.vue";
import { eventBus } from "../../eventBus/eventBus";

export default {
  components: {
    myHeader: HeaderVue,
    myFooter: FooterVue,
    appointments: AppointmentsVue
  },
  created() {
    eventBus.$emit("fetchCurrentAppointments");
  },
  updated() {
    eventBus.$emit("fetchCurrentAppointments");
  }
};
</script>

<style>
</style>



