<template>
  <div class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-slide-active">
        <ul>
          <li v-for="week in weekArray" :key="week.date+''+week.month+''+week.year" @click="myEmit(week.year, week.month, week.date)">
            <span>{{ week.week }}</span> <span class="day-num" :class="{active:week.active}">{{ week.date }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { eventBus } from "../../eventBus/eventBus";
export default {
  data() {
    return {
      week: ["S", "M", "T", "W", "T", "F", "S"]
    };
  },
  props: {
    currentDate: Number,
    currentMonth: Number,
    currentYear: Number
  },
  computed: {
    weekArray() {
      let weekArray = [];
      let date = new Date(
        this.currentYear,
        this.currentMonth - 1,
        this.currentDate
      );
      let dayOfWeek = date.getDay();
      let startDate = this.currentDate - dayOfWeek;
      for (let i = 0; i < 7; i++) {
        let curDat = new Date(
          this.currentYear,
          this.currentMonth - 1,
          startDate + i
        );
        weekArray.push({
          date: curDat.getDate(),
          year: curDat.getFullYear(),
          month: curDat.getMonth() + 1,
          week: this.week[i],
          active: this.currentDate === startDate + i
        });
      }

      return weekArray;
    }
  },
  methods: {
    myEmit(year, month, date) {
      eventBus.$emit("changeCurrentDateDaily", {
        date,
        month,
        year
      });
    }
  }
};
</script>

<style scoped>
div.swiper-container {
  text-align: center;
}
</style>

