<template>
  <footer class="sticky-footer">
    <div class="calc-continer">
      <div class="float-right header-icon-contain col-12-custom">
        <div class="col-4-custom">
          <a href="#" class="color-red" @click.prevent.stop="goToDaily">Today</a>
        </div>
        <div class="col-4-custom text-center">
          <router-link to="/" class="color-red">Calendar</router-link>
        </div>
        <div class="col-4-custom text-right">
          <router-link to="/inbox" class="color-red">Inbox</router-link>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import { eventBus } from "../../eventBus/eventBus";
export default {
  methods: {
    goToDaily() {
      let today = new Date();
      eventBus.$emit("changeCurrentDateDaily", {
        date: parseInt(today.getDate()),
        month: parseInt(today.getMonth() + 1),
        year: parseInt(today.getFullYear())
      });
      this.$router.push("/daily");
    }
  }
};
</script>
